<nav
  class="navbar navbar-expand-lg fixed-top navbar-transparent"
  color-on-scroll="100"
  id="navbar-top"
>
  <div class="container">
    <div class="navbar-translate">
      <b
        class="navbar-brand"
        placement="bottom"
      >
        <span> Language Laboratoris • </span> 
      </b>
      <button
        aria-controls="navigation-index"
        aria-label="Toggle navigation"
        class="navbar-toggler navbar-toggler"
        [attr.aria-expanded]="!isCollapsed"
        (click)="isCollapsed = !isCollapsed"
        id="navigation"
        type="button"
      >
        <span class="navbar-toggler-bar bar1"> </span>
        <span class="navbar-toggler-bar bar2"> </span>
        <span class="navbar-toggler-bar bar3"> </span>
      </button>
    </div>
    <div
      class="navbar-collapse justify-content-end"
      [collapse]="isCollapsed"
      id="navigation"
    >
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand"><a> Language Laboratoris• </a></div>
          <div class="col-6 collapse-close text-right">
            <button
              aria-controls="navigation-index"
              aria-label="Toggle navigation"
              class="navbar-toggler"
              [attr.aria-expanded]="!isCollapsed"
              (click)="isCollapsed = !isCollapsed"
              id="navigation"
              type="button"
            >
              <i class="tim-icons icon-simple-remove"> </i>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav">
        <!--
        <li class="nav-item p-0">
          <a
            class="nav-link"
            href="https://twitter.com/CreativeTim"
            placement="bottom"
            target="_blank"
            tooltip="Follow us on Twitter"
          >
            <i class="fab fa-twitter"> </i>
            <p class="d-lg-none d-xl-none">Twitter</p>
          </a>
        </li>
        -->
        
        <li class="nav-item p-0">
          <a
            class="nav-link"
            href="https://www.facebook.com/profile.php?id=100066494874161"
            placement="bottom"
            target="_blank"
            tooltip="Sprawdź nasz facebook"
          >
            <i class="fab fa-facebook-square"> </i>
            <p class="d-lg-none d-xl-none">Facebook</p>
          </a>
        </li>
        <!--
        <li class="nav-item p-0">
          <a
            class="nav-link"
            href="https://www.instagram.com/CreativeTimOfficial"
            placement="bottom"
            target="_blank"
            tooltip="Follow us on Instagram"
          >
            <i class="fab fa-instagram"> </i>
            <p class="d-lg-none d-xl-none">Instagram</p>
          </a>
        </li>
      -->
        <li class="nav-item" >
        <button
          class="nav-link" style="outline: none0;background-color: #202324;"
          (click)="goToTop()"
          
        >
          Start
        </button>
        </li>

        <li class="nav-item">
          <button
            class="nav-link" style="outline: none;background-color: #202324;"
            (click)="goToBottom()"
            
          >
            Kontakt
        </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="wrapper">
  <div class="page-header" style="margin: 0 0 -500px 0;">
    <img class="path" src="assets/img/blob.png" />

    <img class="path2" src="assets/img/path2.png" />

    <img class="shapes triangle" src="assets/img/triunghiuri.png" />

    <img class="shapes wave" src="assets/img/waves.png" />

    <img class="shapes squares" src="assets/img/patrat.png" />

    <img class="shapes circle" src="assets/img/cercuri.png" />

    <div class="content-center">
      <img
        src="assets/img/logo.jpeg" 
        style="margin-bottom:150px"
      />
<!--
      <div
        class="row row-grid justify-content-between align-items-center text-left"
      >
        <div class="col-lg-6 col-md-6">
          <h1 class="text-white">
            We keep your coin <br />

            <span class="text-white"> secured </span>
          </h1>
          <p class="text-white mb-3">
            A wonderful serenity has taken possession of my entire soul, like
            these sweet mornings of spring which I enjoy with my whole heart. I
            am alone, and feel...
          </p>
          <div class="btn-wrapper mb-3">
            <p class="category text-success d-inline mr-1">From 9.99%/mo</p>
            <a
              class="btn btn-success btn-link btn-sm"
              href="javascript:void(0)"
            >
              <i class="tim-icons icon-minimal-right"> </i>
            </a>
          </div>
          <div class="btn-wrapper">
            <div class="button-container">
              <button
                class="btn btn-icon btn-simple btn-round btn-neutral mr-1"
                href="javascript:void(0)"
              >
                <i class="fab fa-twitter"> </i>
              </button>
              <button
                class="btn btn-icon btn-simple btn-round btn-neutral mr-1"
                href="javascript:void(0)"
              >
                <i class="fab fa-dribbble"> </i>
              </button>
              <button
                class="btn btn-icon btn-simple btn-round btn-neutral"
                href="javascript:void(0)"
              >
                <i class="fab fa-facebook"> </i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5">
          <img
            alt="Circle image"
            class="img-fluid"
            src="assets/img/etherum.png"
          />
        </div>
      </div>
    -->
    </div>
  </div>
  <hr style="height:100px;"/>
  <section></section>
  <section class="section section-lg">
    <img class="path" src="assets/img/path4.png" />

    <img class="path2" src="assets/img/path5.png" />

    <img class="path3" src="assets/img/path2.png" />

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <h1 class="text-center">Oferta</h1>
          <div class="container">
            <hr style="height:100px;"/>
            <div class="row justify-content-center">
                <div class="card card-custom">
                  <img class="card-image" src="https://static.wixstatic.com/media/5c513a_9fe59d5ebab9417e85b90a21e582bcfd~mv2.png/v1/fill/w_108,h_108,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/nowosc.png" />
                  <div class="card-body">
                    
                    <div class="row">   
                      <div class="col-md-12 text-center" >
                        <img style="margin-bottom: 25px; " class="img-center" src="https://static.wixstatic.com/media/5c513a_44dd5f6f55ac404daa11066f17ceed91~mv2.png/v1/crop/x_76,y_0,w_408,h_319/fill/w_460,h_360,al_c,lg_1,q_85,enc_auto/Jacek.png" />
                      </div>
                    </div>
                    <div class="card-text-top">
                      <h2><b>PÓŁKOLONIE MIND-CRAFTING</b></h2>
                    </div>
                    <div class="card-text-top">
                      <h4>KURSY DLA MŁODYCH</h4>
                    </div>
                    <div class="card-text-middle">
                      <p>Zajęcia autorskie projektowane przez doświadczonych lektorów w odpowiedzi na indywidualne potrzeby językowe i metodyczne uczestnika. </p>
                    </div>
                  </div>
                  <div class="card-footer text-center">
                    <button class="btn btn-info btn-simple">DOWIEDZ SIĘ WIĘCEJ</button>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div style="height:100px;background-color: midnightblue;"></div>
  <section class="section section-lg section-safe" style="padding: 0;">
    <img class="path" src="assets/img/path5.png" />

      <div class="container">
        <hr style="height:100px;"/>
        <div class="row justify-content-center">
            <div class="card card-custom">
               <div class="card-body">
                
                <div class="row">   
                  <div class="col-md-12 text-center" >
                    <img style="margin-bottom: 25px; " class="img-center" src="https://static.wixstatic.com/media/5c513a_44dd5f6f55ac404daa11066f17ceed91~mv2.png/v1/crop/x_76,y_0,w_408,h_319/fill/w_460,h_360,al_c,lg_1,q_85,enc_auto/Jacek.png" />
                  </div>
                </div>
                <div class="card-text-top">
                  <h2><b>DIAMOND PACKET</b></h2>
                </div>
                <div class="card-text-top">
                  <h4>INDYWIDUALNE KURSY DLA DOROSŁYCH</h4>
                </div>
                <div class="card-text-middle">
                  <p>Zajęcia autorskie projektowane przez doświadczonych lektorów w odpowiedzi na indywidualne potrzeby językowe i metodyczne uczestnika. </p>
                </div>
              </div>
              <div class="card-footer text-center">
                <p class="btn btn-info btn-simple">550 PLN MIESIĘCZNIE</p>
              </div>
            </div>
            <div style="width: 50px;"></div>
            <div class="card card-custom">
              <div class="card-body">
               
               <div class="row">   
                 <div class="col-md-12 text-center" >
                   <img style="margin-bottom: 25px; " class="img-center" src="https://static.wixstatic.com/media/5c513a_2d2896e0bfd54e1380f2489283422ffa~mv2_d_3264_2448_s_4_2.jpg/v1/crop/x_68,y_0,w_3128,h_2448/fill/w_460,h_360,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/IMG_20181003_161239.jpg"> </div>
               </div>
               <div class="card-text-top">
                 <h2><b>LANGUAGE IN ACTION</b></h2>
               </div>
               <div class="card-text-top">
                 <h4>ZAJĘCIA DLA DZIECI</h4>
               </div>
               <div class="card-text-middle">
                 <p>Rozwijanie pasji i zainteresowań, zajęcia z zastosowaniem Lego Mindstorms oraz drukarek 3D projektowanie własnych wynalazków - wszystko w języku angielskim. Zajęcia indywidualne lub w grupach 2-osobowych.</p>
               </div>
             </div>
             <div class="card-footer text-center">
               <button class="btn btn-info btn-simple">od 300 PLN MIESIĘCZNIE</button>
             </div>
           </div>
        </div>
      </div>
      <div class="container">
        <hr style="height:100px;"/>
        <div class="row justify-content-center">
            <div class="card card-custom">
               <div class="card-body">
                
                <div class="row">   
                  <div class="col-md-12 text-center" >
                    <img style="margin-bottom: 25px; " class="img-center" src="https://static.wixstatic.com/media/0a69b154ca134611ab35f6c4e3ffcd43.jpg/v1/crop/x_419,y_0,w_4762,h_3727/fill/w_460,h_360,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/Dziewczyna%20za%20pomoc%C4%85%20laptopa.jpg" />
                  </div>
                </div>
                <div class="card-text-top">
                  <h2><b>ENGLISH 2.0</b></h2>
                </div>
                <div class="card-text-top">
                  <h4>KURSY INDYWIDUALNE ON-LINE</h4>
                </div>
                <div class="card-text-middle">
                  <p>Chcesz uczyć się języka we własnym domu? Specjaliści z Language Laboratories dopasują program i godziny do Twoich potrzeb. Zajęcia on-line w najdogodniejszym dla Ciebie terminie. </p>
                </div>
              </div>
              <div class="card-footer text-center">
                <button class="btn btn-info btn-simple">500 PLN MIESIĘCZNIE</button>
              </div>
            </div>
            <div style="width: 50px;"></div>
            <div class="card card-custom">
              <div class="card-body">
               
               <div class="row">   
                 <div class="col-md-12 text-center" >
                   <img style="margin-bottom: 25px; " class="img-center" src="https://static.wixstatic.com/media/a01493bb8ec84e25a44424b088065876.jpg/v1/crop/x_506,y_0,w_4748,h_3716/fill/w_460,h_360,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/Koledzy%20pracuj%C4%85cy%20razem.jpg" />
                 </div>
               </div>
               <div class="card-text-top">
                 <h2><b>SILVER PACKET</b></h2>
               </div>
               <div class="card-text-top">
                 <h4>GRUPOWE KURSY DLA DOROSŁYCH</h4>
               </div>
               <div class="card-text-middle">
                 <p>Grupy do 4 osób na poziomie średnio-zaawansowanym w oparciu o najnowsze technologie dopasowują model pracy nad płynną i poprawną komunikacją pod okiem doświadczonego lektora. </p>
               </div>
             </div>
             <div class="card-footer text-center">
               <button class="btn btn-info btn-simple">500 PLN MIESIĘCZNIE</button>
             </div>
           </div>
        </div>
      </div>
  </section>
  <section class="section section-lg" style="height: 0;">
    <img class="path" src="assets/img/path4.png" />

    <img class="path2" src="assets/img/path2.png" />


  </section>
  <section class="section section-lg section-coins"style="margin: 0 0 0 0;padding:0;">
    <img class="path" src="assets/img/path3.png" />
    <div style="height:700px;background-color: midnightblue;">
        <div class="container text-center" style="padding-top:50px">
          <h1 style="margin-bottom: 25px; font-weight: bold;font-size: 50px;">Language Laboratories ®</h1>          
          <h3> Edukacja. Nauka. Tradycja.</h3>
          <h4> Language Laboratories ® to jedna z pierwszych szkół językowych w Polsce. Założona w 1968 roku w Gdańsku przez dr Henrykę Szumilewicz oraz dr Benedykta Szumilewicza. Od września 2018 roku zajęcia odbywają się na terenie GKS Gedania 1922, budynek creoGedania. Właścicielem firmy jest Szymon  Hofman.</h4>
          <h4> Uczymy języków obcych na wszystkich poziomach zaawansowania dla dzieci, młodzieży i dorosłych. Placówka edukacyjno-badawcza opiera się o najnowsze światowe trendy w nauczaniu języków obcych. </h4>
          <h4> Prowadzimy intensywne kursy ze specjalistami z wieloletnim doświadczeniem!  Nauka języka angielskiego w oparciu o autorski program nauczania, który cechuje wysoka skuteczność. Pracujemy m.in. metodą immersji, w oparciu o relację wspomagającą, z zastosowaniem elementów robotyki, druku 3D, sztuki dyskusji i wielu innych narzędzi dydaktycznych, spersonalizowanych na rzecz dostosowania do potrzeb każdego ucznia. Podczas zajęć zostaną poruszone zagadnienia dzięki którym w krótkim czasie podniesiesz swoje kompetencje językowe; co więcej, otrzymasz informacje zwrotne jak masz się uczyć, aby zwiększyć swoją skuteczność.</h4>
        </div>
    </div>

  </section>
  <div style="height:100px;"></div>
  <div class="container text-center">
    <h1 style="font-size: 50px;">Language Laboratories Kadra</h1>
    <h3> współpracujemy od lat z doświadczonymi ekspertami</h3>

    <div class="row justify-content-center">
      <div class="card card-custom"style="background-color:#171941; " >
        <div class="card-body">
        
         <div class="row ">   
           <div class="col-md-12 text-center" >
             <img style="margin-bottom: 25px; " class="img-center" src="https://static.wixstatic.com/media/5c513a_99bcdb4847324e818be80acb803a9406~mv2.png/v1/fill/w_460,h_300,al_c,lg_1,q_85,enc_auto/AH_ted.png" />
           </div>
         </div>
         <div class="card-text-top-lec">
           <h1><b>NADZÓR MERYTORYCZNY</b></h1>
         </div>
         <div class="card-text-middle-lec">
           <span style="font-weight: bold;">dr Agata Hofman </span>
           <span>
            – twórca programu nauczania i dyrektor w Przedszkolu Gedania 1922 oraz placówce edukacyjnej creoGedania. Właścicel Language Laboratories, jednej z najstarszych szkół językowych w Polsce, która wprowadza innowacyjne programy nauczania języków obcych z wykorzystaniem ICT od 1968 roku. Jest również autorem 2 książek oraz ponad 40 publikacji na temat nauczania języków obcych. W 2009 roku zainicjowała ona projekt Polska Akademia Dzieci.  
           </span>
         </div>
       </div>
      </div>
      <div style="width:50px"></div>
      <div class="card card-custom"style="background-color:#171941; ">
        <div class="card-body">
        
        <div class="row">   
          <div class="col-md-12 text-center" >
           <img style="margin-bottom: 25px; " class="img-center" src="https://static.wixstatic.com/media/5c513a_bf9fe4e9423140cfbc387d620f6baec9~mv2.png/v1/fill/w_460,h_300,al_c,lg_1,q_85,enc_auto/Jacek.png" />
         </div>
        </div>
        <div class="card-text-top-lec">
          <h1><b>LEKTOR, SPECJALISTA</b></h1>
        </div>
        <div class="card-text-middle-lec">
          <span style="font-weight: bold;">
            mgr Jacek Jędrzejczak
          </span>
         <span>
            , lektor Language Laboratories </span><span style="font-weight: bold;"> od 28 lat </span><span>, ma ogromne doświadczenie w pracy z osobami dorosłymi i środowiskami biznesowymi. Autorskie programy, język biznesu i płynna komunikacja to jedne z wielu cech charakterystycznych zajęć prowadzonych przez tego lektora z tak bogatym doświadczeniem w indywidualnym nauczaniu języka angielskiego. 
         </span>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row justify-content-center">
    <div class="card card-custom"style="background-color:#171941; " >
      <div class="card-body">
      
       <div class="row ">   
         <div class="col-md-12 text-center" >
           <img style="margin-bottom: 25px; " class="img-center" src="https://static.wixstatic.com/media/5c513a_0f2f1eb26a294a4d80e7cd6e266b6331~mv2.jpeg/v1/fill/w_439,h_280,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/ewa.jpeg" />
         </div>
       </div>
       <div class="card-text-top-lec">
         <h1><b>LEKTOR, FILOZOF</b></h1>
       </div>
       <div class="card-text-middle-lec">
         <p>dr Ewa Szumilewicz jest lektorką angielskiego w Language Laboratories od 25 lat. Jest również doktorem filozofii, która jest jej pasją. Zadaniem, które stawia sobie w pracy z dziećmi, jest przekazanie własnej pasji i miłości do języka. Na zajęciach skupia się głównie na komunikacji i wprowadzaniu sztuki dyskusji.</p>
       </div>
     </div>
    </div>
    <div style="width:50px"></div>
    <div class="card card-custom"style="background-color:#171941; ">
      <div class="card-body">
      
      <div class="row">   
        <div class="col-md-12 text-center" >
         <img style="margin-bottom: 25px; " class="img-center" src="https://static.wixstatic.com/media/5c513a_25cd438fa6cc4f828084d29b4f0dee6e~mv2.jpg/v1/fill/w_441,h_282,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/20190507_180312.jpg" />
       </div>
      </div>
      <div class="card-text-top-lec">
        <h1><b>LEKTOR, METODYK</b></h1>
      </div>
      <div class="card-text-middle-lec">
       <p>dr Paweł Hostyński, jest germanistą, metodykiem, wykładowcą UAM. Stworzył inicjatywę edukacyjną action-lingua.  Publikował artykuły naukowe na temat relacji wspomagającej oraz wartości szacunku i autentyzmu w procesie nauczania języków obcych. Na zajęciach skupia się na podążaniu za dzieckiem , eksperymentach fizyko-chemicznych i świetnej zabawie :)</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="card card-custom"style="background-color:#171941; " >
      <div class="card-body">
      
       <div class="row ">   
         <div class="col-md-12 text-center" >
           <img style="margin-bottom: 25px; " class="img-center" src="https://static.wixstatic.com/media/5c513a_57bc8c092757427fbf3e0a234c9ab683~mv2.jpg/v1/crop/x_0,y_192,w_693,h_443/fill/w_441,h_282,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/zdj%C4%99cie_Ania_B_JPG.jpg" />
         </div>
       </div>
       <div class="card-text-top-lec">
         <h1><b>LEKTOR, SPECJALISTA</b></h1>
       </div>
       <div class="card-text-middle-lec">
         <p>mgr Ania Broszkiewicz jest od 11 lat lektorką  języka angielskiego w Language Laboratories z dużym doświadczeniem w zakresie indywidualnego nauczania dzieci . Ania w swojej pracy wykorzystuje dużo gier, zabaw, różnorodnych materiałów plastycznych ale przede wszystkich potrafi z zapałem rozwijać pasje dzieci.  </p>
       </div>
     </div>
    </div>
    <div style="width:50px"></div>
    <div class="card card-custom"style="background-color:#171941; ">
      <div class="card-body">
      
      <div class="row">   
        <div class="col-md-12 text-center" >
         <img style="margin-bottom: 25px; " class="img-center" src="https://static.wixstatic.com/media/5c513a_b923ab83c4144e5b8705b791c5c651ed~mv2.jpg/v1/fill/w_400,h_278,al_c,lg_1,q_80,enc_auto/Micha%C5%82.jpg" />
       </div>
      </div>
      <div class="card-text-top-lec">
        <h1><b>LEKTOR, EDUKATOR</b></h1>
      </div>
      <div class="card-text-middle-lec">
       <p>Michał Czepita już od 13 lat prowadzi zindywidualizowane zajęcia z elementami robotyki w Language Laboratories. Korzystając z zestawów Lego Mindstorms i obwodów elektrycznych wprowadza komunikację w języku angielskim podczas zaangażowania dzieci w tworzenie własnych konstrukcji, maszyn i robotów. </p>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="card card-custom"style="background-color:#171941; " >
    <div class="card-body">
    
     <div class="row ">   
       <div class="col-md-12 text-center" >
         <img style="margin-bottom: 25px; " class="img-center" src="https://static.wixstatic.com/media/5c513a_41fb02ebc25a4857afb1c31e678c4d37~mv2.png/v1/fill/w_441,h_282,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Agnieszka.png" />
       </div>
     </div>
     <div class="card-text-top-lec">
       <h1><b>LEKTOR, PSYCHOLOG</b></h1>
     </div>
     <div class="card-text-middle-lec">
       <p>mgr Agnieszka Swarra jest lektorką języka angielskiego i psychologiem. Najważniejsze dla niej jest wzmacnianie w dziecku poczucia własnej wartości i rozwijanie ogromnego potencjału drzemiącego w młodych ludziach. Współpracuje z Polską Akademią Dzieci, a w wolnych chwilach wydobywa ze swoich skrzypiec najróżniejsze dźwięki.</p>
     </div>
   </div>
  </div>
  <div style="width:50px"></div>
  <div class="card card-custom"style="background-color:#171941; ">
    <div class="card-body">
    
    <div class="row">   
      <div class="col-md-12 text-center" >
       <img style="margin-bottom: 25px; " class="img-center" src="https://static.wixstatic.com/media/5c513a_0eac942b39274f6c8a39ca72ca589953~mv2.jpg/v1/fill/w_439,h_280,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/Olga.jpg" />
     </div>
    </div>
    <div class="card-text-top-lec">
      <h1><b>LEKTOR, EDUKATOR</b></h1>
    </div>
    <div class="card-text-middle-lec">
     <p>mgr Olga Sukhenko jest lektorką z 10-letnim doświadczeniem w nauczaniu. Jej priorytetem jest komunikacja i niestandardowe podejście do zajęć. W pracy z osobami dorosłymi stawia na budowanie indywidualnych programów w oparciu o najnowsze rozwiązania metodyczne.</p>
    </div>
  </div>
</div>
</div>


<div class="row justify-content-center">
  <div class="card card-custom"style="background-color:#171941; " >
    <div class="card-body">
    
     <div class="row ">   
       <div class="col-md-12 text-center" >
         <img style="margin-bottom: 25px; " class="img-center" src="https://static.wixstatic.com/media/5c513a_9c555357eeb44e4c889668b4d574e50d~mv2.png/v1/fill/w_441,h_282,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Szymon_PNG.png" />
       </div>
     </div>
     <div class="card-text-top-lec">
       <h1><b>LEKTOR, SPECJALISTA</b></h1>
     </div>
     <div class="card-text-middle-lec">
       <p>Szymon Hofman jest właścicielem Language Laboratories i lektorem języka angielskiego od ponad 6 lat. Prowadzi zajęcia skupione na praktycznym użyciu języka w oparciu m.in. o współtworzenie światów w minecraft. Ma 18 lat.</p>
     </div>
   </div>
  </div>
</div>


  </div>


  
  <div style="height:100px;background-color: midnightblue;"></div>



  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="card card-plain">
            <div class="card-header">
              <h1 class="profile-title text-left">NAPISZ DO NAS</h1>
            </div>
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> Imię </label>
                      <input class="form-control" type="text" value="" />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> Email  </label>
                      <input
                        class="form-control"
                        placeholder="me@email.com"
                        type="email"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> Telefon </label>
                      <input
                        class="form-control"
                        type="text"
                        value=""
                      />
                    </div>
                  </div>

                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label> Wiadomość </label>
                      <input
                        class="form-control"
                        placeholder="Hello there!"
                        type="text"
                      />
                    </div>
                  </div>
                </div>
                <button
                  class="btn btn-danger btn-round float-right"
                  placement="right"
                  type="submit"
                >
                  Send text
                </button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-4 ml-auto" style="margin-top:-180px;">
          <div class="info info-horizontal">
            <div class="icon icon-danger">
              <i class="tim-icons icon-square-pin"> </i>
            </div>
            <div class="description">
              <h3 class="info-title">Znajdź nas</h3>
              <h4>
                Hallera 201, <br />

                Gdańsk, <br />

              </h4>
            </div>
          </div>
          <div class="info info-horizontal">
            <div class="icon icon-danger">
              <i class="tim-icons icon-mobile"> </i>
            </div>
            <div class="description">
              <h3 class="info-title">Zadzwoń</h3>
              <h4>
                dr Agata Hofman  <br />

                533 011 544 <br />

              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3"><h1 class="title">Language Laboratoris•</h1></div>

        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3">
          <h3 class="title">Kontakt:</h3>
          <div class="btn-wrapper profile">
            <h3> Telefon : 533 011 544</h3>
            
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
